<!DOCTYPE html>
<html>
  <head>
    <title>Buy cool new product</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <section>
      <div class="product">
        <div class="description">
          <h3>Уникальный номер:</h3> <p>{{ product.id }}</p>
          <h3>Наименование:</h3> <p>{{ product.name }}</p>
          <h3>Описание:</h3> <p>{{ product.description }}</p>
          <h3>Цена: {{ product.display_price }}$</h3>
        </div>
      </div>
      <button type="button" id="checkout-button">Оплата банковской картой</button>
    </section>
    {% csrf_token %}
  </body>
  <script type="text/javascript">
var stripe = Stripe("pk_test_51M78snLo83VUKO2XJJlg0O8qqIB5t6BBUoAcm5m9UxwAKvOMRdR9dl7TuO3Ib0H2cEBbrvdlZMq4a6JyzpotTaho00UC4fQnCF");
var checkoutButton = document.getElementById("checkout-button");
checkoutButton.addEventListener("click", function () {
  fetch("create-checkout-session/<pk>/", {method: 'GET'})
  .then(response => response.json())
  .then(session => stripe.redirectToCheckout({ sessionId: session.id }))
  });
  </script>
</html>
